/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* my css code below. reset above.*/
*{
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 600px;
    background-color: #111122;
    justify-content: center;
}
    .biggerC {
        display: flex;
        flex-flow: row wrap;
    }
hr {
    border: 1px solid black;
}

header {
    border: 2px solid #333;
    border-radius: 15px;
    background: linear-gradient(#444, #226688);
    color: #000;
    width: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}
    header h1 {
        font-size: 28px;
        font-weight: bold;
        margin-top: 5px;
    }
    header h2 {
        font-size: 20px;
        margin-bottom: 12px;
    }
    #spclSet {
        margin-bottom: 0px;
    }

nav {
    width: 100%;
}
    #twit {
        display: block;
        margin: 4px;
        margin-top: 6px;
        width: 30px;
        height: 20px;
    }
    #twit::after {
        display: block;
        float: right;
        content: '';
        background: url('/images/twitterlogo.png') no-repeat;
        width: 25px;
        height: 25px;
        background-size: 25px 25px;
        border-radius: 50%;
    }
    #git {
        display: block;
        margin: 4px;
        margin-top: 6px;
        width: 30px;
    }
    #git::after {
        display: block;
        float: right;
        content: '';
        background: url('/images/github.png') no-repeat;
        width: 25px;
        height: 25px;
        background-size: 25px 25px;;
        border-radius: 50%;
    }

.set {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-bottom: 25px;
    border-radius: 15px;
    border: 2px solid #333;
    background: linear-gradient(#444, #446688, #444);
    text-align: center;
}
    .title {
        font-size: 16px;
        margin: 3px;
        font-weight: 550;
    }
    .desc {
        margin: 3px;
        margin-bottom: 10px;
        margin-top: 1px;
    }
    .gallery {
        display: flex;
        flex-flow: row;
        overflow: scroll;
        align-items: baseline;
        justify-content: flex-start;
    }
    .gallery::-webkit-scrollbar {
        width: 0px;
    }
    #spclGallery {
        justify-content: flex-start;
    }
    #logo {
        display: block;
        border: 1px solid #333;
        padding: 2px;
        padding-bottom: 10px;
        padding-right: 6px;
        background-color: #446688;
        border-radius: 50%;
    }
    .buttons {
        display: block;
        border: 1px solid #333;
        padding: 8px;
        background-color: #446688;
        border-radius: 12px;
        text-decoration: none;
        color: Black;
    }
    .gallery a img {
        height: 50px;
        width: 50px;
    }
    .galleryItem {
        display: flex;
        flex-direction: column;
        margin: 5px;
        align-items: center;
        text-align: center;
    }
    .goBtn {
        border-radius: 8px;;
        width: 70px;
        height: 25px;
        font-size: 16px;
        background-color: #335599;
        margin-top: 12px; 
    }
    #drinkDisplay {
        display: none;
        flex-direction: column;
    }
    #shots {
        display: none;
    }
    #pumps {
        display: none;
    }
    #scoops {
        display: none;
    }

footer{
    width: 100%;
}

@media only screen and (max-width: 400px) {
    body {
        grid-template-columns: 280px;
    }
    .set {
        width: 270px;
    }
    header{
        width: 270px;
    }
    #skyrim {
        width: 58px;
    }
    .buttons {
        padding: 6px;
    }
}

@media only screen and (max-width: 600px) and (min-width: 401px) {
    body {
        grid-template-columns: 380px;
    }
    .set {
        width: 350px;
    }
    header{
        width: 350px;
    }
    #skyrim {
        width: 70px;
    }
}

@media only screen and (max-width: 800px) and (min-width: 601px) {
    body {
        grid-template-columns: 525px;
    }
    .set {
        width: 500px;
    }
    header{
        width: 500px;
    }
    #skyrim {
        width: 78px;
    }
}
@media only screen and (min-width: 1001px) {
    body {
        grid-template-columns: 800px;
    }
    .set {
        width: 680px;
    }
    header{
        width: 680px;
    }
    #skyrim {
        width: 100px;
    }
    .buttons {
        padding: 10px;
    }
}